* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: ubuntu;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner:after {
    display: block;
    content: '';
}


.text {
    float: right;
    width: 400px;
    height: 360px;
    margin: 200px 200px;
    text-align: end;
    color: white;

}


.text h1 {
    font-size: 60px;
}

.text p {
    margin: 20px auto;
}

button {
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    font: 20px;
    color: #0854A0;
    font-weight: bold;
}

.oneh {
    font-weight: 700;
}

.right p {
    color: rgb(129, 129, 129);
}

.fa-check {
    color: rgb(16, 212, 104);
    padding-right: 10px;
    font-size: 18px;
}

.onesec {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0px;
}

.left img {
    width: 100%;
}

.left {
    width: 50%;

}

.right {
    width: 40%;
    margin: 250px auto;

}

.right h2 {
    font-size: 40px;
}

.right p {
    padding: 15px 50px 0px 0px;
}

.sectwo {
    text-align: center;
}

.sectwo h1 {
    font-size: 40px;
}

.icon {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.secthree {
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, rgba(11, 69, 194, 0.918), rgba(11, 69, 194, 0.03)), url(../img/watch.png);

}

.secthree h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;

}

.sectwo h3 {
    font-size: 30px;
    margin: 10px 0px;
}

.sectwo p {
    font-size: 25px;
    color: rgb(131, 131, 131);
}

.secthree button {
    font-family: ubuntu;
    font-weight: 700;
    font-size: 18px;
}

.secthree {
    margin-bottom: 130px;
}

footer {
    font-family: ubuntu;
}

.fmain {
    width: 70%;
    display: flex;
    margin: 50px auto 0px;
    padding: 100px 0px;
    justify-content: space-between;
}

.fleft {
    width: 40%;

}

.fright {
    width: 30%;

}

.fright input {
    width: 300px;
    border: 1px solid white;
    background-color: black;
    padding: 15px;
    color: white;
    border-radius: 5px;
    margin: 20px 0px;
    text-align: left;
}

.fright button {
    background-color: rgb(60, 100, 209);
    color: white;
    width: 150px;
    font-size: 18px;
}

.fleft p {
    padding: 10px 0px;
}

.ficon .img {

    font-weight: 500;
    padding: 0px 15px;
    margin-top: 20px;
}